* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}

.nav-container {
    display: flex;
    align-items: center;    
    margin: 0 1em;
    padding: 2em;    
    font-size: 1.2em;
}

.nav-container_right {
    display: flex;    
    align-items: center;
    flex: 1 1 100%;
    justify-content: flex-end;    
}

.nav-container_left {
    display: flex;    
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 100%;
}

.nav-container a {
    padding: 0 .5em;
    text-decoration: none;
       
}

.nav-container_dots {
    width: 3.1em;    
}

.sign-in {
    background: #4285f4;
    color: #fff;    
    padding: .3em .5em ;      
    border-radius: .4em;
    outline: none;
    border: 1px solid #aca8a8;
}

.nav-toggle {
    position: absolute;
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 3em;
    height: 2em;
}

.nav-toggle .nav-toggle_bar {
    height: .3em;
    width: 100%;
    background-color: #0c0c0c;
    border-radius: 10px;
}

.google-img {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.google-search {
    display: flex;
    justify-content: center;
    margin: 7em;
}

.google-search_icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 35em;
    border: 1px solid #ccc;
    border-radius: 3em;
    padding: 1.5em;
}

.google-search_icon button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fafdff;
}

.google-search_icon button:hover {
    box-shadow: #e9e9e9 1px 1px;
    border-radius: .3em;
}

.google-search_icon input {
    border: none;
    outline: none;
    padding-left: 2em;
    width: 100%;
    color: #66666b;
    font-size: 1.4em;
}

.google-search_icon i {
    color: #66666b;
}

.submit-container {
    display: block;
    text-align: center;    
    margin: 1.3em 0 9em;    
}

.submit-container input[type="submit"] {
    line-height: 2em;
    border: 1px solid #f8f2f2;
    border-radius: 4px;
    margin: 0 2em 1em;
    padding: .3em .5em;
    font-size: 1.2em;
    color: #0e0e0e;
    outline: none;
    
}

.submit-container input[type="submit"]:hover {
    background-color: #e7ecf0;
    cursor: pointer;
    box-shadow: #9c9c9e 1px 1px;
}

.footer {
    padding-top: 1em;
    border-top: 1px solid #c5c4c4;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
        
}

.footer a {
    margin: 3em 1em 0;
    text-decoration: none;    
    font-size: 1.2em;
}

.footer a:hover {
    text-decoration: underline;
}


@media screen and (max-width:600px) {
    .nav-container {
        font-size: 1em;
        padding: .3em 1em;
        width: 100%;        
    }

    .nav-container_right {
        display: flex;        
        margin: 0 1em;
        top: 0;
    }

    .google-search {
        margin: 6em;
    }

    .submit-container {
        display: none;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-container_left {
        display: none;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        align-content: center;                
        margin: 0 1em;
        top: 0; 
    }
    
    .nav-container_left.active {
        display: flex;        
    }

    .nav-container_left.active a {
        padding: 2em;
        top: 0;
    }

    .footer {        
        
        margin-top: 11rem;        
    }

}