:root {
  color-scheme: light only;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  width: 100%;
  height: auto;
}

.nav-container {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.nav-container div {
  padding: 0.5em 1.5em;
}

.nav-container_right {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  justify-content: flex-end;
}

.nav-container_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 100%;
}

.nav-container a {
  padding: 0 0.5em;
  text-decoration: none;
}

.nav-container_dots {
  width: 3.1em;
}

.sign-in {
  background: #4285f4;
  color: #fff;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
  outline: none;
  border: 1px solid #aca8a8;
  cursor: pointer;
}

.nav-toggle {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 3em;
  height: 2em;
}

.nav-toggle .nav-toggle_bar {
  height: 0.3em;
  width: 100%;
  background-color: #0c0c0c;
  border-radius: 10px;
}

.main_section {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 11%;
  align-items: center;
  justify-content: center;
  /* height: 90vh; */
  gap: 7em;
}

/* .google-img {
  
}

.google-search {  
  
} */

.video {
  display: none;
  width: 35vw;
}

.video.active {
  display: block;
}

#gif {
  width: 100%;
  height: 35vh;
  margin: 0 auto;
}

.google-search_icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 4em;
  border: 1px solid #ccc;
  border-radius: 3em;
  padding: 0 1.5em;
}

.google-search_icon button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fafdff;
}

.google-search_icon button:hover {
  box-shadow: #e9e9e9 1px 1px;
  border-radius: 0.3em;
}

.google-search_icon input {
  border: none;
  outline: none;
  padding-left: 2em;
  width: 100%;
  height: 100%;
  color: #66666b;
  font-size: 1.4em;
}

.google-search_icon i {
  font-size: 1.5em;
  color: #66666b;
}

.submit-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.submit-container .btn {
  line-height: 2em;
  border: 1px solid #f8f2f2;
  border-radius: 0.5em;
  padding: 0.3em 0.5em;
  font-size: 1.2em;
  color: #0e0e0e;
  outline: none;
}

.submit-container .btn a {
  text-decoration: none;
  color: #0e0e0e;
}

.submit-container .btn:hover {
  background-color: #e7ecf0;
  cursor: pointer;
  box-shadow: #9c9c9e 1px 1px;
}

.footer {
  border-top: 1px solid #c5c4c4;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 1px solid #c5c4c4;
  background-color: #eee9e1;
}

.footer a {
  text-decoration: none;
  font-size: 1em;
  padding: 1em 0;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .nav-container {
    font-size: 1em;
    width: 100%;
  }

  .nav-container_right {
    display: flex;
    margin: 0 1em;
    top: 0;
  }

  .google-search {
    padding: 1em;
  }

  .submit-container {
    font-size: 1em;
  }

  .nav-toggle {
    display: flex;
  }

  .nav-container_left {
    display: none;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    align-content: center;
    margin: 0 1em;
    top: 0;
  }

  .nav-container_left.active {
    display: flex;
    margin: 0;
    flex: 0.4;
    align-content: flex-start;
  }

  .nav-container_right {
    margin: 0;
  }
  .nav-container_left.active a {
    position: relative;
    padding: 0 2em;
    margin: 1em 2em;
  }

  .main_section {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 1%;
    /* justify-content: space-evenly; */
    /* height: 50vh; */
    height: 90vh;
    /* position: relative; */
    gap: 1em;
    /* top: 50%; */
    /* position: fixed; */
    align-items: center;
  }

  .video {
    width: 50vw;
  }

  #gif {
    height: 15em;
  }

  .google-search_icon input {
    padding-left: 1em;
  }
}
